<%= form_with(model: wiki_post) do |form| %>
  <% if wiki_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wiki_post.errors.count, "error") %> prohibited this wiki_post from being saved:</h2>

      <ul>
        <% wiki_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-4">
    <div class="mb-4">
      <%= form.label :title, class: "rjs-label" %>
      <%= form.text_field :title, class: "rjs-input-text" %>
    </div>
    <div class="mb-4">
      <%= form.label :author, class: "rjs-label" %>
      <%= form.text_field :author, class: "rjs-input-text" %>
    </div>
    <div class="mb-4">
      <%= form.label :description, class: "rjs-label" %>
      <%= form.text_area :description, class: "rjs-input-text" %>
    </div>
    <div class="mb-4">
      <%= form.label :image, "Post Image", class: "rjs-label" %>
      <%= form.file_field :image %>
    </div>
    <div>
      <%= form.submit "Submit", class: "rjs-button-submit" %>
    </div>
  </div>

<% end %>
